<template lang="pug">
  .datatables
    table.table
      thead
        tr
          th(v-for="column in datatables.columns") {{column.title}}
      slot(name="table-body" v-bind:rows="rows" v-bind:columns="datatables.columns")
      tbody(v-if="!hasBodySlot")
        tr(v-for="row in rows")
          td(v-for="column in datatables.columns") {{row[column.key]}}
</template>

<script>
  export default {
    name: 'datatables',
    props: ['datatables'],
    data: () => {
      return {
        rows: []
      }
    },
    computed: {
      hasBodySlot () {
        return !!this.$scopedSlots['table-body']
      }
    },
    mounted () {
      let self = this
      this.model = new this.datatables.model()
      this.model.paginate({}, (data) => {
        if (!data.success) {
          return
        }
        self.rows = data.body
      })
    }
  }
</script>

<style lang="scss" scoped>
  .datatables {
    table {
      thead {
        tr {
          th {

          }
        }
      }
      tbody {
        tr {
          td {

          }
        }
      }
    }
  }
</style>
