<template lang="pug">
  .header
    .menu
      .toggle
        i.fa.fa-bars
      .items
        ul
          li(v-for="item in menu")
            router-link(:to="{name: item.route_name}") {{item.text}}
    router-link(:to="{name: 'dashboard'}").logo
      .image
        img(src="/static/images/logo.png")
      .title ClearDispatch
    .alerts
      .icon
        router-link(:to="{name: 'inbox'}")
          i.fa.fa-inbox
    .nav-sec
      .user
        .icon
          i.fa.fa-user-circle-o
        .name {{user.name}}
      .items
        ul
          li
            router-link(:to="{name: 'logout'}") Logout
</template>

<script>
  export default {
    name: 'Header',
    data () {
      return {
        menu: [
          {
            text: 'Trucks',
            route_name: 'truck-list'
          },
          {
            text: 'Users',
            route_name: 'user-list'
          },
          {
            text: 'Create User',
            route_name: 'user-create'
          }
        ],
        user: {
          name: this.$store.getters['sessionModule/user'].name
        }
      }
    },
    mounted () {
      let self = this
      document.documentElement.style.setProperty( '--header-height', (this.$el.clientHeight + 1) + 'px' )
      window.addEventListener('resize', () => {
        document.documentElement.style.setProperty( '--header-height', (self.$el.clientHeight + 1) + 'px' )
      })
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  .header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    border-top: 1px solid #000;
    background: #000;
    display: flex;
    flex-direction: row;
    user-select: none;
    .menu {
      position: relative;
      .toggle {
        padding: 5px 10px;
        font-size: 1.8em;
      }
      .items {
        position: absolute;
        left: 0;
        top: 100%;
        background: #000;
        display: none;
        ul {
          li {
            position: relative;
            border-bottom: 1px solid #fff;
            padding: 5px 10px;
            white-space: nowrap;
            a {
              display: block;
              font-size: 1.1em;
            }
            &:last-of-type {
              border-bottom: none;
            }
            &:hover {
              background: #666666;
            }
          }
        }
      }
      &:hover .items {
        display: block;
      }
    }
    .logo {
      display: flex;
      flex-direction: row;
      .image {
        background: #fff;
        padding: 5px;
        img {
          width: auto;
          height: 20px;
        }
      }
      .title {
        padding: 5px 10px;
        font-weight: 700;
        font-size: 1.8em;
        font-family: 'BebasNeue', sans-serif;
        letter-spacing: 1px;
      }
    }
    .alerts {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      .icon {
        padding: 5px 5px;
        font-size: 1.8em;
      }
    }
    .nav-sec {
      position: relative;
      display: flex;
      flex-direction: row;
      .user {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 5px;
        .icon {
          padding: 5px 0;
          font-size: 1.8em;
        }
        .name {
          font-size: 1.2em;
          padding: 9px 10px;
        }
      }
      .items {
        position: absolute;
        right: 0;
        top: 100%;
        background: #000;
        display: none;
        width: 100%;
        ul {
          li {
            position: relative;
            border-bottom: 1px solid #fff;
            padding: 5px 10px;
            a {
              display: block;
              font-size: 1.1em;
            }
            &:last-of-type {
              border-bottom: none;
            }
            &:hover {
              background: #666666;
            }
          }
        }
      }
      &:hover .items {
        display: block;
      }
    }
  }
</style>
