<template lang="pug">
  div.unassigned-routes
    div
      div.btn.primary(v-on:click="createUnassignedRoute")
        i.fa.fa-plus
    div
      div.unassigned-route(v-for="unassignedRoute in unassignedRoutesFiltered")
        span {{unassignedRoute.id}}
</template>

<script>
  import UnassignedRouteModel from '@/models/UnassignedRouteModel'

  export default {
    data: () => {
      return {
        unassignedRoutes: []
      }
    },
    computed: {
      unassignedRoutesFiltered: (vm) => {
        return vm.unassignedRoutes.sort((a, b) => {
          return b.id - a.id
        })
      }
    },
    methods: {
      createUnassignedRoute (event) {
        this.unassignedRouteModel.create({
          id: Math.round(Math.random() * 9999) + 1
        })
      }
    },
    created () {
      this.unassignedRouteModel = new UnassignedRouteModel()
      this.unassignedRouteModel.all({}, (data) => {
        if (data.success) {
          this.unassignedRoutes = data.body
        }
      })
      this.unassignedRouteModel.watch({
        created: (unassingedRoute) => {
          let found = false
          this.unassignedRoutes.forEach((item, index, object) => {
            if (unassingedRoute.id === item.id) {
              found = true
              return false
            }
          })
          if (!found) {
            this.unassignedRoutes.push(unassingedRoute)
          }
        },
        updated: (unassingedRoute) => {
          this.unassignedRoutes.forEach((item, index, object) => {
            if (unassingedRoute.id === item.id) {
              this.unassignedRoutes[index] = item
              return false
            }
          })
        },
        destroyed: (unassingedRoute) => {
          this.unassignedRoutes.forEach((item, index, object) => {
            if (unassingedRoute.id === item.id) {
              object.splice(index, 1)
              return false
            }
          })
        }
      })
    }
  }
</script>

<style lang="scss" scoped>
  .unassigned-routes {
    color: #fff;
    .unassigned-route {
      margin: 5px;
      padding: 3px;
      background: $gray-two;
      border: 1px solid #fff;
    }
  }
</style>
