.btn {
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 5px 8px;
  color: #fff;
  background: $chalk-blue;
  border: 1px solid #000;
  box-shadow: none;
  margin: 0 10px 0 0;
  user-select: none;
  &:hover {
    background: lighten( $chalk-blue, 15% );
  }
  &:disabled {
    background: darken( $chalk-blue, 15% );
    cursor: no-drop;
  }
  .btn-default {
    background: $chalk-light-blue;
    &:hover {
      background: lighten( $chalk-light-blue, 15% );
    }
    &:disabled {
      background: darken( $chalk-light-blue, 15% );
    }
  }
  .btn-primary {
    background: $chalk-blue;
    &:hover {
      background: lighten( $chalk-blue, 15% );
    }
    &:disabled {
      background: darken( $chalk-blue, 15% );
    }
  }
  .btn-success {
    background: $chalk-green;
    &:hover {
      background: lighten( $chalk-green, 15% );
    }
    &:disabled {
      background: darken( $chalk-green, 15% );
    }
  }
  .btn-danger {
    background: $chalk-red;
    &:hover {
      background: lighten( $chalk-red, 15% );
    }
    &:disabled {
      background: darken( $chalk-red, 15% );
    }
  }
  .btn-margin-left {
    margin: 0 0 0 10px;
  }
}