/**
 * Chalk Colors
 */
$chalk-green: #43b581;
$chalk-purple: #7289da;
$chalk-red: #f04747;
$chalk-yellow: #f1c423;
$chalk-blue: #237fb6;
$chalk-light-blue: #BFCFE9;
$chalk-pink: #DEC2D1;

.chalk-green {
  color: $chalk-green !important;
}
.chalk-purple {
  color: $chalk-purple !important;
}
.chalk-red {
  color: $chalk-red !important;
}
.chalk-yellow {
  color: $chalk-yellow !important;
}
.chalk-blue {
  color: $chalk-blue !important;
}
.chalk-light-blue {
  color: $chalk-light-blue !important;
}
.chalk-pink {
  color: $chalk-pink !important;
}

/**
 * Background Colors
 */
$gray-one: #36393E;
$gray-two: #424549;
$gray-three: #424549;