@import url( 'https://fonts.googleapis.com/css?family=Roboto' );

@font-face {
  font-family: 'BebasNeue';
  src: url('#{$fonts-path}/BebasNeue.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}/BebasNeue.otf')  format('opentype'),
  url('#{$fonts-path}/BebasNeue.woff') format('woff'),
  url('#{$fonts-path}/BebasNeue.ttf')  format('truetype'),
  url('#{$fonts-path}/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}