.form-control {
  display: block;
  padding: 5px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  width: 100%;
  &:focus {
    outline: none;
  }
}

textarea.form-control {
  height: 150px;
}

.form-group {
  margin-bottom: 7px;
  label {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .vee-errors {
    padding: 5px 0 0 0;
    display: block;
  }
  &.has-error {
    label {
      color: $chalk-red;
    }
    .form-control {
      border-color: $chalk-red;
      color: $chalk-red;
    }
    .vee-errors {
      color: $chalk-red;
    }
  }
}

.form {
  .form-outer li,
  .form-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-outer > li > label,
  .form-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }

  .form-outer > li > label + *,
  .form-inner {
    flex: 1 0 220px;
  }

  .form-outer .vee-errors {
    flex: 0 0 100%;
  }

  .form-inner {
    justify-content: space-between;
    li {
      width: 100px;
    }
  }
}
