@import 'variables';
@import 'includes/fontawesome/font-awesome.scss';
@import 'includes/reset.scss';
@import 'fonts.scss';
@import 'colors.scss';

/**
 * Globals
 */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #fff;
  background: $gray-one;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding-right: 0 !important;
  height: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: inherit;
  color: inherit;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: 700;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

img.full {
  display: block;
  width: 100%;
  height: auto;
}

.no-select {
  user-select: none;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.relative {
  position: relative;
}

.spacer {
  display: block;
  width: 100%;
  height: 7px;
}

/**
 * Imports
 */

@import 'table.scss';
@import 'buttons.scss';
@import 'form.scss';
@import 'widget.scss';
