table.table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #3e4146;
  border-collapse: collapse;
  margin-bottom: 7px;
  thead,
  tfoot {
    background: #fff;
    tr {
      border: 1px solid #3e4146;
      color: #333333;
      td,
      th {
        border: 1px solid #3e4146;
        padding: 5px;
        color: #333333;
        font-weight: 700;
        text-align: left;
        &.shrink {
          white-space: nowrap;
        }
        &.expand {
          width: 99%;
        }
        @media ( max-width: 767px ) {
          padding: 4px;
        }
      }
    }
  }
  thead {
    background: #9c9c9c;
    tr {
      th {
        color: #fff;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #eee;
      background: #fff;
      &:nth-of-type( odd ) {
        background-color: #f9f9f9;
      }
      &:hover {
        background: #ccc;
      }
      td {
        color: #000;
        border: 1px solid #ddd;
        padding: 5px;
        text-align: left;
        &.title {
          font-weight: 700;
        }
        &.shrink {
          white-space: nowrap;
        }
        &.expand {
          width: 99%;
        }
        &.relative {
          position: relative;
        }
        @media ( max-width: 767px ) {
          padding: 4px;
        }
      }
    }
  }
  &.table-stripped {
    tbody {
      tr {
        &:nth-of-type( odd ) {
          background-color: #f9f9f9;
        }
        &:hover {
        }
        td {
        }
      }
    }
  }
}
