.widget {
  background: #36393e;
  border-top: none;
  clear: both;
  margin-top: 0px;
  margin-bottom: 7px;
  border-bottom: 3px solid #3e4146;
  .widget-header {
    background-color: #1e2124;
    border-bottom: 1px solid #3e4146;
    border-top: 3px solid #737373;
    padding: 7px 7px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    .title {
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      align-self: center;
      .icon {
        margin-right: 3px;
      }
    }
    .tools {
      align-self: center;
    }
  }
  .widget-body {
    padding: 7px;
    color: #000;
    background: #fff;
    @media ( max-width: 768px ) {
      padding: 10px 5px;
    }
    b {
      font-weight: 700;
    }
    &.widget-body-disabled {
      position: relative;
      user-select: none;
    }
    &.widget-body-disabled::after {
      position: absolute;
      z-index: 1001;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba( 0, 0, 0, 0.55 );
    }
  }
}
