<template lang="pug">
  .dashboard-layout
    div
      unassagned-routes-component
</template>

<script>
  import UnassagnedRoutesComponent from '@/components/UnassignedRoutes'

  export default {
    components: {
      UnassagnedRoutesComponent
    }
  }
</script>

<style lang="scss" scoped>
  .dashboard-layout {

  }
</style>
