<template>
  <div class="login">
    <div class="text-center">
      <strong>Login</strong>
    </div>
    <form @submit.prevent="login(input)">
      <div :class="{'form-group':true, 'has-error':errors.has('email')}">
        <label>E-Mail</label>
        <input v-model="input.email" v-validate="{ required: true, email: true }" class="form-control" type="email" name="email" placeholder="E-Mail">
        <span class="vee-errors" v-if="errors.has('email')">
            {{ errors.first('email') }}
        </span>
      </div>
      <div :class="{'form-group':true, 'has-error':errors.has('password')}">
        <label>Password</label>
        <input v-model="input.password" v-validate="{ required: true }" class="form-control" type="password" name="password" placeholder="Password">
        <span class="vee-errors" v-if="errors.has('password')">
            {{ errors.first('password') }}
        </span>
      </div>
      <div class="actions">
        <button :disabled="errors.any()" type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</template>

<script>
  import swal from 'sweetalert'

  export default {
    name: 'login-page',
    metaInfo: {
      title: 'Login'
    },
    data: () => {
      return {
        input: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      login (input) {
        this.$validator.validateAll().then(res => {
          if (!res) {
            swal('Error', 'Please correct all the errors!', 'error')
            return
          }
          this.$store.dispatch('sessionModule/login', input);
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .login {
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
</style>
