<template lang="pug">
  div.register
    p {{ msg }} !!!
</template>

<script>
  export default {
    name: 'register-page',
    metaInfo: {
      title: 'Register'
    },
    data () {
      return {
        msg: 'Register page'
      }
    }
  }
</script>

<style lang="scss" scoped>
  .register {
    h1 {
      font-weight: 700;
    }
  }
</style>
