<template lang="pug">
  .inbox-page
    .chat-rooms
      .room(v-for="chat_room in chat_rooms")
        span.name(v-for="attendant in chat_room.attendants") {{attendant.user.name}},&nbsp;
    .chat-window
      .room(v-chat-scroll="{always: false}")
        .message(v-for="chat_message in roomChatMessagesFiltered")
          .content {{chat_message.content}}
      .input
        input(type="text" placeholder="Message..." v-on:keyup.enter="sendMessage" v-model="message")
</template>

<script>
  import UserModel from '@/models/UserModel'
  import ChatRoomModel from '@/models/ChatRoomModel'
  import ChatMessageModel from '@/models/ChatMessageModel'

  export default {
    name: 'inbox',
    data: () => {
      return {
        chat_rooms: [],
        chat_room: {},
        room_chat_messages: [],
        message: ''
      }
    },
    computed: {
      roomChatMessagesFiltered: (vm) => {
        return vm.room_chat_messages.sort((a, b) => {
          return a.timestamp - b.timestamp
        })
      }
    },
    methods: {
      sendMessage: function () {
        if (!this.message) return
        let self = this
        const chatMessageModel = new ChatMessageModel()
        chatMessageModel.create({
          chat_room_uuid: this.chat_room.uuid,
          content: this.message
        }, (data) => {
          self.message = ''
        })
      },
      switchRoom: function () {
        let self = this
        this.room_chat_messages = []
        const chatMessageModel = new ChatMessageModel()
        chatMessageModel.all({
          chat_room_uuid: this.chat_room.uuid
        }, (data) => {
          self.room_chat_messages = data.body
        })
        chatMessageModel.watch({
          created: (chat_message) => {
            let found = false
            this.room_chat_messages.forEach((item, index, object) => {
              if (chat_message.uuid === item.uuid) {
                found = true
                return false
              }
            })
            if (!found) {
              this.room_chat_messages.push(chat_message)
            }
          },
        }, `chat_room-${this.room.uuid}`)
      }
    },
    created () {
      const self = this
      const chatRoomModel = new ChatRoomModel()
      chatRoomModel.all({}, (data) => {
        if (data.success) {
          self.chat_rooms = data.body
        }
      })
      //
      const userModel = new UserModel()
      userModel.watch({
        chat_room_created: (chat_room) => {
          self.chat_rooms.push(chat_room)
        }
      }, `${this.$store.state.sessionModule.user.uuid}`)
    }
  }
</script>

<style lang="scss">
  .inbox-page {
    display: grid;
    grid-template-columns: [chat-rooms] 2fr [chat-window] 6fr;
    height: 100%;
    overflow: hidden;
    .chat-rooms {
      grid-column: chat-rooms;
      background: #1e2124;
      .room {
        border-bottom: 1px solid #fff;
        padding: 5px;
        cursor: pointer;
        &:last-of-type {
          border-bottom: none;
        }
        &:hover {
          background: #424549;
        }
      }
    }
    .chat-window {
      grid-column: chat-window;
      pointer-events: all;
      align-self: flex-end;
      height: 100%;
      .room {
        background: #fff;
        padding: 3px;
        overflow-y: auto;
        height: calc(100% - 22px);
        .message {
          color: #000;
          border-bottom: 1px solid #ccc;
          padding: 5px;
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
      .input {
        border-top: 1px solid #ccc;
        input[type="text"] {
          display: block;
          width: 100%;
        }
      }
    }
  }
</style>
