<template lang="pug">
  .user-form-page
    .widget
      .widget-header
        .title
          i.fa.fa-user-circle-o.icon
          span User
      .widget-body
        form.form(@submit.prevent="submit(user)")
          ul.form-outer
            li.form-group(:class="{'form-group':true, 'has-error':errors.has('name')}")
              label Name
              input.form-control(name="name" type="text" v-model="user.name" v-validate="{ required: true }")
              span.vee-errors(v-if="errors.has('name')") {{ errors.first('name') }}
            li(:class="{'form-group':true, 'has-error':errors.has('email')}")
              label E-Mail
              input.form-control(name="email" type="email" v-model="user.email" v-validate="{ required: true, email: true }")
              span.vee-errors(v-if="errors.has('email')") {{ errors.first('email') }}
            li.form-group(:class="{'form-group':true, 'has-error':errors.has('password')}" v-if="!user.id")
              label Password
              input.form-control(name="password" type="password" v-model="user.password" v-validate="{ required: true }")
              span.vee-errors(v-if="errors.has('password')") {{ errors.first('password') }}
            li.form-group
              button(:disabled="errors.any()" type="submit").btn.btn-primary Save
</template>

<script>
  import Vue from 'vue'
  import swal from 'sweetalert'
  import UserModel from '@/models/UserModel'

  export default {
    data: () => {
      return {
        user: {
          name: '',
          email: '',
          password: ''
        }
      }
    },
    methods: {
      submit (user){
        this.$validator.validateAll().then(res => {
          if (!res) {
            swal('Error', 'Please correct all the errors!', 'error')
            return
          }
          if (this.user.id) {
            this.update(user)
          } else {
            this.create(user)
          }
        })
      },
      create (user) {
        const userModel = new UserModel()
        userModel.create(user, (response) => {
          if (!response.success) {
            swal('Error', 'Error', 'error')
            return
          }
          Vue.router.push({
            name: 'user-edit',
            params: {
              id: response.body.id
            }
          })
        })
      },
      update (user) {
        let self = this
        const userModel = new UserModel()
        userModel.update(user, (response) => {
          if (!response.success) {
            return swal('Error', 'Error', 'error')
          }
          self.user = response.body
          swal('Success', 'Success', 'success')
        })
      }
    },
    mounted () {
      if (this.$route.params.id) {
        let self = this
        const userModel = new UserModel()
        userModel.find(this.$route.params.id, (data) => {
          self.user = data.body
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .user-form-page {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
</style>
