<template lang="pug">
  .user-list
    .widget
      .widget-header
        .title
          span User List
      .widget-body
        datatables-component(:datatables="datatables")
          tbody(slot="table-body" slot-scope="dtSlotScope")
            tr(v-for="row in dtSlotScope.rows")
              td.text-right
                router-link(:to="{name: 'user-edit', params: { id: row.id }}") {{row.id}}
              td
                router-link(:to="{name: 'user-edit', params: { id: row.id }}") {{row.name}}
              td {{row.email}}
              td {{row.timestamp | timestampToDate}}
              td {{row.id}}
</template>

<script>
  import DatatablesComponent from '@/components/DataTables'
  import UserModel from '@/models/UserModel'
  import moment from 'moment'

  export default {
    components: {
      DatatablesComponent
    },
    data: () => {
      return {
        datatables: {
          model: UserModel,
          infinite_scroll: true,
          columns: [
            {
              title: '#',
              key: 'id',
              name: 'user.id',
              sort_order: 'desc',
              class: 'text-right',
              default: true
            },
            {
              title: 'Name',
              key: 'name',
              name: 'user.name',
            },
            {
              title: 'Email',
              key: 'email',
              name: 'user.email',
            },
            {
              title: 'Created',
              key: 'timestamp',
              name: 'user.timestamp',
            },
            {
              title: '',
              key: 'id',
              name: 'user.id',
              class: 'text-center',
            }
          ]
        }
      }
    },
    filters: {
      timestampToDate: (date) => {
        return moment(date).format('MM/DD/YYYY h:mm:ss a');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .user-list {

  }
</style>
