<template lang="pug">
  .chat-users
    .user(v-for="user in usersFiltered" v-on:click="openChat(user)")
      .avatar
        i.fa.fa-user-circle-o
      span.name {{user.name}}
</template>

<script>
  import Vue from 'vue'
  import UserModel from '@/models/UserModel'
  import ChatRoomModel from '@/models/ChatRoomModel'

  export default {
    name: 'chat-users',
    data: () => {
      return {
        users: []
      }
    },
    props: ['chat_rooms'],
    computed: {
      usersFiltered: (vm) => {
        return vm.users.filter(function(user){
          if (vm.$store.state.sessionModule.user.uuid === user.uuid) {
            return false
          }
          return user
        }).sort((a, b) => {
          const aName = a.name.toLowerCase()
          const bName = b.name.toLowerCase()
          if (aName < bName) return -1
          if (aName > bName) return 1
          return 0
        })
      }
    },
    methods: {
      openChat: function (chatUser) {
        let foundUserChat = false
        let self = this
        this.chat_rooms.forEach((chatRoom) => {
          if (chatRoom.attendants.length <= 2) {
            chatRoom.attendants.forEach((attendant) => {
              if (attendant.user.uuid === chatUser.uuid) {
                foundUserChat = true
                return false
              }
            })
            chatRoom.attendants.forEach((attendant) => {
              if (self.$store.state.sessionModule.user.uuid === attendant.user.uuid && foundUserChat) {
                attendant.open = true
                return false
              }
            })
          }
          if (foundUserChat) return false
        })
        if (!foundUserChat) {
          let users = [chatUser]
          const chatRoomModel = new ChatRoomModel()
          // chatRoomModel.create({
          //   users: users
          // })
        }
      }
    },
    mounted () {
      let self = this
      document.documentElement.style.setProperty( '--chat-sidebar-width', (self.$el.clientWidth + 1) + 'px' )
      window.addEventListener('resize', () => {
        document.documentElement.style.setProperty( '--chat-sidebar-width', (self.$el.clientWidth + 1) + 'px' )
      })
      //
      this.userModel = new UserModel()
      this.userModel.all({}, (data) => {
        if (!data.success) return
        this.users = data.body
      })
      //
      this.userModel.watch({
        created: (data) => {
          self.users.push(data)
        }
      })
    }
  }
</script>

<style lang="scss" scoped>
  .chat-users {
    .user {
      user-select: none;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      color: #fff;
      align-items: center;
      border-bottom: 1px solid #585858;
      padding: 3px;
      .avatar {
        padding: 0 3px;
        i {
          font-size: 1.2em;
        }
      }
      .name {
        padding: 3px;
        font-size: 1em;
      }
      &:hover {
        background: #7d7d7d;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
</style>
