<template lang="pug">
  .chat-window
    .title(v-on:click="toggleOpen(room)")
      div
        span.name(v-for="attendant in roomAttendantsFiltered") {{attendant.user.name}},&nbsp;
        i.fa.fa-times-circle(v-on:click="toggleListening(room)")
    div(v-if="roomOpen")
      .room(v-chat-scroll="{always: false}")
        .message(v-for="chat_message in roomChatMessagesFiltered")
          .avatar(title="Name")
            i.fa.fa-user-circle-o
          .content {{chat_message.content}}
      .input
        input(type="text" placeholder="Message..." v-on:keyup.enter="sendMessage" v-model="message")
</template>

<script>
  import ChatRoomModel from '@/models/ChatRoomModel'
  import ChatMessageModel from '@/models/ChatMessageModel'

  export default {
    name: 'chat-window',
    props: ['room'],
    data: () => {
      return {
        room_chat_messages: [],
        message: ''
      }
    },
    computed: {
      roomOpen: function () {
        let self = this
        let open = false
        this.room.attendants.forEach((attendant) => {
          if (self.$store.state.sessionModule.user.uuid === attendant.user.uuid) {
            open = attendant.open
          }
        })
        return open
      },
      roomAttendantsFiltered: (vm) => {
        return vm.room.attendants.filter((attendant) => {
          if (vm.$store.state.sessionModule.user.uuid === attendant.user.uuid) {
            return false
          }
          return attendant
        })
      },
      roomChatMessagesFiltered: (vm) => {
        return vm.room_chat_messages.sort((a, b) => {
          return a.timestamp - b.timestamp
        })
      }
    },
    methods: {
      toggleOpen: function (room) {
        let self = this
        room.attendants.forEach((attendant) => {
          if (self.$store.state.sessionModule.user.uuid === attendant.user.uuid) {
            attendant.open = !attendant.open
            const chatRoomModel = new ChatRoomModel()
            chatRoomModel.toggleOpen({
              chat_room_uuid: room.uuid,
              open: attendant.open
            })
            return false
          }
        })
      },
      toggleListening: function(room) {
        room.attendants.forEach((attendant) => {
          if (self.$store.state.sessionModule.user.uuid === attendant.user.uuid) {
            attendant.listening = !attendant.listening
            const chatRoomModel = new ChatRoomModel()
            chatRoomModel.toggleListening({
              chat_room_uuid: room.uuid,
              listening: attendant.listening
            })
            return false
          }
        })
      },
      sendMessage: function () {
        if (!this.message) return
        let self = this
        const chatMessageModel = new ChatMessageModel()
        chatMessageModel.create({
          chat_room_uuid: this.room.uuid,
          content: this.message
        }, (data) => {
          self.message = ''
        })
      }
    },
    mounted () {
      let self = this
      const chatMessageModel = new ChatMessageModel()
      chatMessageModel.all({
        chat_room_uuid: this.room.uuid
      }, (data) => {
        self.room_chat_messages = data.body
      })
      chatMessageModel.watch({
        created: (chat_message) => {
          let found = false
          this.room_chat_messages.forEach((item, index, object) => {
            if (chat_message.uuid === item.uuid) {
              found = true
              return false
            }
          })
          if (!found) {
            this.room_chat_messages.push(chat_message)
          }
        },
      }, `chat_room-${this.room.uuid}`)
    }
  }
</script>

<style lang="scss" scoped>
  .chat-window {
    pointer-events: all;
    width: 175px;
    margin-right: 7px;
    align-self: flex-end;
    .title {
      cursor: pointer;
      background: #000;
      color: #fff;
      padding: 5px;
      font-size: 1em;
      .name {
        margin-right: 5px;
        user-select: none;
      }
    }
    .room {
      height: 180px;
      background: #fff;
      padding: 3px;
      overflow-y: auto;
      .message {
        color: #000;
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        .avatar {
          padding: 3px;
          font-size: 1.4em;
        }
        .content {
          padding: 3px;
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
    .input {
      border-top: 1px solid #ccc;
      input[type="text"] {
        display: block;
        width: 100%;
      }
    }
  }
</style>
