<template lang="pug">
  .chat-bar
    .nav
      i.fa.fa-arrow-circle-up.toggle
      ul
        li(v-for="chat_room in chat_rooms")
          span(v-for="attendant in chat_room.attendants") {{attendant.user.name}},&nbsp;
    chat-window-component(v-for="room in chatRoomsFiltered" v-bind:room="room" v-bind:key="room.uuid")
</template>

<script>
  import ChatWindowComponent from '@/components/Chat/ChatWindow'

  export default {
    name: 'chat-bar',
    components: {
      ChatWindowComponent
    },
    props: ['chat_rooms'],
    data: () => {
      return {
        can_show: 1
      }
    },
    computed: {
      chatRoomsFiltered: (vm) => {
        return vm.chat_rooms.filter((element, index) => {
          if (index >= vm.can_show) {
            return false
          }
          return true
        })
      }
    },
    mounted () {
      const self = this
      const resizeHandler = () => {
        const contentWidth = document.querySelector('#content').clientWidth
        const chatWindowWidth = 175 + 5
        const navWidth = self.$el.querySelector('.nav').clientWidth + 5
        self.can_show = Math.floor((contentWidth - navWidth - 100) / chatWindowWidth)
      }
      window.addEventListener('resize', resizeHandler)
      resizeHandler()
    }
  }
</script>

<style lang="scss" scoped>
  .chat-bar {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    .nav {
      pointer-events: all;
      margin-right: 5px;
      align-self: flex-end;
      position: relative;
      z-index: 2;
      .toggle {
        cursor: pointer;
        color: #fff;
        padding: 5px;
        font-size: 1em;
        background: #000;
      }
      ul {
        display: none;
        position: absolute;
        bottom: 100%;
        left: -40px;
        max-height: 300px;
        overflow-y: auto;
        width: 150px;
        background: #000;
        li {
          display: block;
          cursor: pointer;
          background: #000;
          padding: 5px;
          &:hover {
            background: #424549;
          }
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
</style>
