<template lang="pug">
  .guest-layout
    .container
      .logo
        img(src="static/images/logo.png")
        .title ClearDispatch
      .actions
        router-link(:to="{name: 'login'}") Login
        span or
        router-link(:to="{name: 'register'}") Register
      .body
        router-view(:key="$route.fullPath")
</template>

<script>
  export default {
    name: 'guest-layout'
  }
</script>

<style lang="scss" scoped>
  .guest-layout {
    display: flex;
    height: 100%;
    justify-content: center;
    .container {
      background: #fff;
      padding: 15px;
      border: 1px solid #000;
      align-self: center;
      max-width: 95vw;
      max-height: 95vh;
      min-width: 400px;
      min-height: 400px;
      color: #000;
      box-shadow: 0 0 80px 5px #000;
      .logo {
        text-align: center;
        margin-bottom: 15px;
        user-select: none;
        img {
          pointer-events: none;
        }
        .title {
          padding: 5px 0 0 0;
          font-size: 1.6em;
          line-height: 1.7em;
          font-weight: 700;
        }
      }
      .actions {
        a {
          color: $chalk-blue;
        }
      }
    }
  }
</style>
