<template lang="pug">
  div.secure-layout
    header-component
    div.container
      div.content#content
        router-view(:key="$route.fullPath")
      div.chat-bar-container(v-if="$route.name != 'inbox'")
        chat-bar-component(:chat_rooms="chat_rooms")
      div.chat-sidebar-container
        chat-users-component(:chat_rooms="chat_rooms")
</template>

<script>
  import HeaderComponent from '@/components/Header'
  import ChatUsersComponent from '@/components/Chat/ChatUsers'
  import ChatBarComponent from '@/components/Chat/ChatBar'
  import UserModel from '@/models/UserModel'
  import ChatRoomModel from '@/models/ChatRoomModel'

  export default {
    name: 'secure-layout',
    components: {
      HeaderComponent,
      ChatUsersComponent,
      ChatBarComponent
    },
    data: () => {
      return {
        chat_rooms: []
      }
    },
    created () {
      const self = this
      const chatRoomModel = new ChatRoomModel()
      chatRoomModel.all({}, (data) => {
        if (data.success) {
          self.chat_rooms = data.body
        }
      })
      //
      const userModel = new UserModel()
      userModel.watch({
        chat_room_created: (chat_room) => {
          self.chat_rooms.push(chat_room)
        }
      }, `${this.$store.state.sessionModule.user.uuid}`)
    }
  }
</script>

<style lang="scss" scoped>
  .secure-layout {
    height: 100%;
    .container {
      padding-top: var( --header-height );
      position: relative;
      height: 100%;
      .content {
        position: relative;
        width: 90%;
        height: 100%;
      }
      .chat-bar-container {
        position: fixed;
        bottom: 0;
        right: var( --chat-sidebar-width );
        left: 0;
        pointer-events: none;
      }
      .chat-sidebar-container {
        width: 10%;
        position: fixed;
        top: var( --header-height );
        right: 0;
        bottom: 0;
        background: $gray-three;
        overflow-y: auto;
      }
    }
  }
</style>
