<template lang="pug">
  #app
    router-view
</template>

<script>
  import '@/styles/scss/main.scss'

  export default {
    name: 'app',
    metaInfo: {
      title: 'App',
      titleTemplate: '%s | ClearDispatch'
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  #app {
    height: 100%;
  }
</style>
